# ispresent.yml task, part of role itop_core
# Just a conversion of itop_core_ispresent role into a ispresent task member of itop_core role
# Schirrms 2024-08-28
#
# @copyright   Copyright (C) 2023 Combodo SARL
# @license     http://opensource.org/licenses/AGPL-3.0
#
# This playbook check if there are CI(s) in iTop (based on the itop_key reconciliation values)
# and return the number of matching CIs and the list of ids
#
# Common role input parameters:
#  mandatory:
#  - itop_core_root                 = Root URL of the iTop application
#  - itop_core_ws_auth_user         = User login
#  - itop_core_ws_auth_pwd          = User password
#  optional:
#  - itop_core_ws_version           = Web Service version (default 1.3)
#  - itop_core_ws_ansible_uuid      = UUID in iTop of the Ansible application to work with (default ANS_APP1)
#  - itop_core_ws_ansible_inventory = Name of the inventory to consider (no use for a read, default ANS_ITOP)

#  Task specific input parameters:
#  mandatory:
#  - itop_core_ispresent_obj_class  = Class of CI(s) to be found
#  - itop_core_ispresent_key        = Set of attributes to be used for the reconciliation
#                                     or id of the record searched

# Please, refer to iTop's wiki about REST/JSON services for more details on these parameters.
#
# Output parameters:
#  - itop_core_ispresent_code        = Error code sent by iTop's API
#  - itop_core_ispresent_message     = Error message sent by iTop's API
#  - itop_core_ispresent_obj_key     = Key of the queried CI - result as a list
#  - itop_core_ispresent_found_items = Number of items found with the given 'itop_key' reconciliation set
#
---

- name: Count the number of items
  ansible.builtin.uri:
    url: "{{ __itop_core_api_url }}"
    method: POST
    force_basic_auth: true
    url_username: "{{ itop_core_ws_auth_user }}"
    url_password: "{{ itop_core_ws_auth_pwd }}"
    body: json_data= {
      "operation":"core/get",
      "class":"{{ itop_core_ispresent_obj_class }}",
      "key":{{ itop_core_ispresent_key | to_json }},
      "output_fields":"id"
      }
    return_content: true
  register: __itop_core_ispresent_response

- name: Save the Json data
  ansible.builtin.set_fact:
    __itop_core_ispresent_jsondata: "{{ __itop_core_ispresent_response.content | from_json }}"

- name: Get error code and message
  ansible.builtin.set_fact:
    itop_core_ispresent_code: "{{ __itop_core_ispresent_jsondata | json_query('code') }}"
    itop_core_ispresent_message: "{{ __itop_core_ispresent_jsondata | json_query('message') }}"

- name: Display error, if any
  ansible.builtin.fail:
    msg: "{{ itop_core_ispresent_message }}"
  when: itop_core_ispresent_code != "0"

- name: Get itop_obj_key # noqa: jinja[invalid]
  ansible.builtin.set_fact:
    itop_core_ispresent_obj_key: "{{ __itop_core_ispresent_jsondata | json_query(param) }}"
  vars:
    param: 'objects.*.key'

# Caution : Ansible set_fact convert int to string
# You'll have to use this var as 'itop_found_items | int'
- name: Get number of items # noqa: jinja[invalid]
  ansible.builtin.set_fact:
    itop_core_ispresent_found_items: "{{ itop_core_ispresent_obj_key | length }}"
